*{
    font-family: Mont;
 
}
body{
  background-color: #ff8a65;
  
}

.centrain
{
    width: 1024px;
    height: 1850px;
    background-color: #FFFFFF;
    margin:auto;
}
.left-column
{
    width:30%;
}
header img {
    border-radius: 50%;
  }
header {

    text-align: center;
    background-color: #FFFFFF;
    padding:20px;
    
}
.block-list
{
 background-color:#ffffcc;
 
}
.block-list h2
{
    background-color:#333333;
    text-align: center;
    width: 140px;
    margin: 40px auto 20px;
    color:#FFFFFF
    
}
.block-list li
{
   
 margin-bottom: 5px;
 
    
}
